/* @keyframes glowing {
  0% {
    text-shadow: 0 0 5px #9292dc, 0 0 20px #9292dc, 0 0 30px #9292dc;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 5px #9292dc, 0 0 20px #9292dc, 0 0 30px #9292dc;
  }
}

.text {
  animation: glowing 1s infinite;
  color: #9292dc;
} */

/* .text {
  animation: glowing 1s infinite;
  color: #4c77ed;
  color: linear-gradient(#686868, #a5a5a5);

  Next.js
  color: "#a5a5a5"

  Material UI
  color: "#4c77ed"
} */
