/* @keyframes glowing {
  0% {
    text-shadow: 0 0 5px #9292dc, 0 0 20px #9292dc, 0 0 30px #9292dc;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 5px #9292dc, 0 0 20px #9292dc, 0 0 30px #9292dc;
  }
}

.text {
  animation: glowing 1s infinite;
  color: #9292dc;
} */
